<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:replace="fragments/common::head"/>
    <title>Chi tiết công việc</title>
</head>
<body>

    <div class="container">
        <th:block th:include="fragments/common::header"/>
        <div class="col-lg-8 col-lg-offset-2">
            <div class="well">
                <th:block th:include="fragments/recruitment::details"/>
            </div>
        </div>

        <br/>
        <div sec:authorize="hasRole('ROLE_EMPLOYER')">
            <div class="col-lg-8 col-lg-offset-2">
                <label>Danh sách người nộp đơn:</label>
                <th:block th:include="fragments/recruitment::review-apply"/>
            </div>
        </div>
        <th:block th:include="fragments/common::footer"/>
    </div>

</body>
</html>