<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:replace="fragments/common::head"/>
    <title>Chi tiết Tin tuyển dụng</title>
</head>
<body>

    <div class="container">
        <th:block th:include="fragments/common::header"/>
        <div class="col-lg-8 col-lg-offset-2">
            <div class="well">
                <th:block th:include="fragments/recruitment::details"/>
            </div>
        </div>
        <div sec:authorize="hasRole('ROLE_EMPLOYER')">
            <div class="col-lg-8 col-lg-offset-2">
                <hr style="border: 0; clear: both; display: block; width: 96%; background-color: lightgray; height: 1px;"/>
                <h4>Danh sách người nộp đơn:</h4>
                <th:block th:include="fragments/recruitment::review-apply"/>
            </div>
        </div>
        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <div class="col-lg-8 col-lg-offset-2">
                <hr style="border: 0; clear: both; display: block; width: 96%; background-color: lightgray; height: 1px;"/>
                <h4>Danh sách báo cáo xấu:</h4>
                <th:block th:include="fragments/recruitment::review-report"/>
            </div>
        </div>
        <th:block th:include="fragments/common::footer"/>
    </div>

</body>
</html>