<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:fragment="head">
        <link rel="stylesheet" href="../../public/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
        <script src="../../public/js/jquery-3.2.0.min.js" th:src="@{/js/jquery-3.2.0.min.js}"></script>
        <script src="../../public/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    </th:block>
</head>
<body>

    <th:block th:fragment="pagination">
        <div class="text-center">
            <ul class='pagination pagination-centered'>
                <li th:class="${page.firstPage}? 'disabled' : ''">
                    <span th:if="${page.firstPage}">← First</span>
                    <a th:if="${not page.firstPage}" th:href="@{${page.url}(page=0,size=${page.size})}">← Trang đầu</a>
                </li>
                <li th:class="${page.hasPreviousPage}? '' : 'disabled'">
                    <span th:if="${not page.hasPreviousPage}">«</span>
                    <a th:if="${page.hasPreviousPage}" th:href="@{${page.url}(page=${page.number - 2},size=${page.size})}" title='Go to previous page'>«</a>
                </li>
                <li th:each="item : ${page.items}" th:class="${item.current}? 'active' : ''">
                    <span th:if="${item.current}" th:text="${item.number}">1</span>
                    <a th:if="${not item.current}" th:href="@{${page.url}(page=${item.number - 1},size=${page.size})}"><span th:text="${item.number}">1</span></a>
                </li>
                <li th:class="${page.hasNextPage}? '' : 'disabled'">
                    <span th:if="${not page.hasNextPage}">»</span>
                    <a th:if="${page.hasNextPage}" th:href="@{${page.url}(page=${page.number},size=${page.size})}" title='Go to next page'>»</a>
                </li>
                <li th:class="${page.lastPage}? 'disabled' : ''">
                    <span th:if="${page.lastPage}">Last →</span>
                    <a th:if="${not page.lastPage}" th:href="@{${page.url}(page=${page.totalPages - 1},size=${page.size})}">Trang cuối →</a>
                </li>
            </ul>
        </div>
    </th:block>

</body>
</html>