<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:fragment="head">
        <link rel="stylesheet" href="../../public/css/bootstrap.min.old.css" th:href="@{/css/bootstrap.min.css}"/>
        <script src="../../public/js/jquery-3.2.0.min.js" th:src="@{/js/jquery-3.2.0.min.js}"/>
        <script src="../../public/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"/>
        <style th:inline="text">
            body {
                background: #F6F6F6;
            }
        </style>
    </th:block>
</head>
<body>

    <th:block th:fragment="header">
        <div>
            <img src="../../public/img/bottom-banner.jpg" width="100%" th:src="@{/img/banner.jpg}"/>
        </div>

        <div sec:authorize="isAnonymous()">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" th:href="@{/}">Tìm việc trực tuyến</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li><a th:href="@{/recruitment}">Trang chủ</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-lock"/> Đăng ký <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a th:href="@{/register/employee}"><span class="glyphicon glyphicon-user"/> Tài khoản cá nhân</a></li>
                                <li><a th:href="@{/register/employer}"><span class="glyphicon glyphicon-briefcase"/> Tài khoản danh nghiệp</a></li>
                            </ul>
                        </li>
                        <li><a href="#" th:href="@{/login}"><span class="glyphicon glyphicon-log-in"/> Đăng nhập</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div sec:authorize="hasRole('ROLE_EMPLOYEE')">
            <th:block th:include="fragments/employee::header"/>
        </div>
        <div sec:authorize="hasRole('ROLE_EMPLOYER')">
            <th:block th:include="fragments/employer::header"/>
        </div>

        <div class="col-md-8 col-sm-offset-2 text-center" th:with="notifyMessages=${session[T(com.trong.service.NotificationServiceImpl).NOTIFY_MSG_SESSION_KEY]}">
            <div th:each="msg : ${notifyMessages}" th:text="#{${msg.text}}"
                th:class="${#strings.toLowerCase(msg.type).equals('info')} ? 'alert alert-info' : 'alert alert-danger'">
            </div>
            <span th:if="${notifyMessages}" th:remove="all" th:text="${session.remove(T(com.trong.service.NotificationServiceImpl).NOTIFY_MSG_SESSION_KEY)}"></span>
        </div>
    </th:block>

    <th:block th:fragment="login-form">
        <form class="form-horizontal text-center" th:action="@{/login}" method="post">
            <div class="form-group row">
                <div class="col-sm-offset-4 col-sm-5"><h4>Hãy đăng nhập</h4></div>
            </div>
            <div class="form-group row" th:if="${param.error != null}">
                <div class="alert alert-danger">
                    <span th:text="#{Login.Fail}"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-sm-4">Email</label>
                <div class="col-sm-5">
                    <input class="form-control" type="text" name="email"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-sm-4">Mật khẩu</label>
                <div class="col-sm-5">
                    <input class="form-control" type="password" name="password"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-5">
                    <button class="btn btn-primary" type="submit">Đăng nhập</button> <br />
                </div>
            </div>
        </form>
    </th:block>

    <th:block th:fragment="pagination">
        <div class="text-center">
            <ul class='pagination pagination-centered'>
                <li th:class="${page.firstPage}? 'disabled' : ''">
                    <span th:if="${page.firstPage}">← Trang đầu</span>
                    <a th:if="${not page.firstPage}" th:href="@{${page.url}(page=0,size=${page.size})}">← Trang đầu</a>
                </li>
                <li th:class="${page.hasPreviousPage}? '' : 'disabled'">
                    <span th:if="${not page.hasPreviousPage}">«</span>
                    <a th:if="${page.hasPreviousPage}" th:href="@{${page.url}(page=${page.number - 2},size=${page.size})}" title='Go to previous page'>«</a>
                </li>
                <li th:each="item : ${page.items}" th:class="${item.current}? 'active' : ''">
                    <span th:if="${item.current}" th:text="${item.number}">1</span>
                    <a th:if="${not item.current}" th:href="@{${page.url}(page=${item.number - 1},size=${page.size})}"><span th:text="${item.number}">1</span></a>
                </li>
                <li th:class="${page.hasNextPage}? '' : 'disabled'">
                    <span th:if="${not page.hasNextPage}">»</span>
                    <a th:if="${page.hasNextPage}" th:href="@{${page.url}(page=${page.number},size=${page.size})}" title='Go to next page'>»</a>
                </li>
                <li th:class="${page.lastPage}? 'disabled' : ''">
                    <span th:if="${page.lastPage}">Trang cuối →</span>
                    <a th:if="${not page.lastPage}" th:href="@{${page.url}(page=${page.totalPages - 1},size=${page.size})}">Trang cuối →</a>
                </li>
            </ul>
        </div>
    </th:block>

    <th:block th:fragment="footer">
        <div style="padding-top: 3em; display: inline-block;">
            <div>
                <img src="../../public/img/banner.jpg" width="100%" th:src="@{/img/bottom-banner.jpg}"/>
            </div>
            <div class="text-center">
                <i>@Copyright 2017 - developed by: Vo Nhu Trong - email: vonhutrong@gmail.com</i>
            </div>
        </div>
    </th:block>

</body>
</html>