<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>

    <th:block th:fragment="sign-up">
        <form action="#" th:action="@{/dang-ky/nguoi-dung}" th:object="${employeeAccountForm}" method="post">
            <h2>Đăng ký tài khoản người tìm việc</h2>
            <div class="form-group">
                <label>Họ và tên</label>
                <input class="form-control" type="text" th:field="*{name}"/>
                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">email</span>
            </div>
            <div class="form-group">
                <label>Email</label>
                <input class="form-control" type="text" th:field="*{email}"/>
                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email</span>
            </div>
            <div class="form-group">
                <label>Mật khẩu</label>
                <input class="form-control" type="password" th:field="*{password}"/>
                <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password</span>
            </div>
            <div class="form-group">
                <label>Gõ lại mật khẩu</label>
                <input class="form-control" type="password" th:field="*{passwordConfirm}"/>
                <span th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}">passwordConfirm</span>
            </div>
            <div class="text-center">
                <button class="btn btn-primary" type="submit">Đăng ký</button>
            </div>
        </form>
    </th:block>

    <th:block th:fragment="header">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Tìm việc trực tuyến</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/tin-tuyen-dung}">Trang chủ</a></li>
                    <li><a th:href="@{/nguoi-dung/quan-ly-ho-so}">Quản lý hồ sơ</a></li>
                </ul>
                <div sec:authorize="hasRole('ROLE_EMPLOYEE')">
                    <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" onclick="document.getElementById('logout-form').submit();"><span class="glyphicon glyphicon-log-out"></span> Đăng xuất</a></li>
                    <form id="logout-form" th:action="@{/dang-xuat}" method="POST"></form>
                    </ul>
                </div>
                <div sec:authorize="isAnonymous()">
                    <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" th:href="@{/dang-nhap}"><span class="glyphicon glyphicon-log-in"/> Đăng nhập</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </th:block>

    <th:block th:fragment="apply-recruitment">
        <form action="#" th:action="@{/nguoi-dung/nop-don}" method="post" th:object="${applyForm}" enctype="multipart/form-data">
            <h2>Nộp đơn trực tuyến</h2>
            <div class="form-group">
                <label>Bạn ứng tuyển hồ sơ vào <span th:text="${recruitment.title}">...</span></label>
            </div>
            <div class="form-group">
                <label>Chức danh</label>
                <input class="form-control" placeholder="Nhân viên ..."/>
            </div>
            <div class="form-group">
                <label>Tên công ty</label>
                <input class="form-control" th:value="${recruitment.employer.name}" placeholder="Công ty ..."/>
            </div>
            <div class="form-group">
                <label>Tên của bạn</label>
                <input class="form-control" th:value="${employee.name}"/>
            </div>
            <div class="form-group">
                Chọn hồ sơ
                <input class="form-control" type="file" th:field="*{cv}"/>
                <div th:if="${#fields.hasErrors('cv')}" class="text-danger">
                    Chọn hồ sơ của bạn
                </div>
            </div>
            <input type="hidden" th:value="${recruitment.id}" th:attr="name='recruitmentId'"/>
            <div th:if="${#fields.hasErrors('recruitmentId')}" class="text-danger">
                Tin tuyển dụng không hợp lệ
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary">Chấp nhận</button>
            </div>
        </form>
    </th:block>

    <th:block th:fragment="apply-management">
        <div class="well" th:each="applyHistory : ${applyHistories}">
            <a th:href="@{/tin-tuyen-dung/chi-tiet(id=${applyHistory.recruitment.id})}">
                <label th:text="${applyHistory.recruitment.employer.name}"></label>
            </a><br/>
            <i><span th:text="${#dates.format(applyHistory.datetime, 'hh:mm dd-MM-yyyy')}"></span></i><br/>
            Trạng thái: <span th:text="${applyHistory.approved} == null ? 'Đang chờ' : (${applyHistory.approved} ? 'Đạt' : 'Không đạt')"></span>
        </div>
    </th:block>
</body>
</html>