<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <th:block th:fragment="header">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Nhà tuyển dụng</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/employer/postRecruitment}">Đăng tin</a></li>
                </ul>
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/employer/recruitmentManagement}">Xem tin</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">(<span th:text="${#authentication.name}"/>)</a></li>
                    <li><a href="#" onclick="document.getElementById('logout-form').submit();"><span class="glyphicon glyphicon-log-out"></span> Đăng xuất</a></li>
                    <form id="logout-form" th:action="@{/logout}" method="POST"></form>
                </ul>
            </div>
        </nav>
    </th:block>

    <th:block th:fragment="sign-up">
        <form class="form-horizontal" th:action="@{/register/employer}" th:object="${employerAccountForm}" method="post" enctype="multipart/form-data">
            <h4 class="text-center">Đăng ký tài khoản Nhà tuyển dụng</h4>
            <br/>
            <h5>Thông tin đăng nhập</h5>
            <div class="form-group">
                <label class="col-sm-3 text-left">Email</label>
                <div class="col-sm-6">
                    <input class="form-control" type="text" th:field="*{email}"/>
                    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 text-left">Mật khẩu</label>
                <div class="col-sm-6">
                    <input class="form-control" type="password" th:field="*{password}"/>
                    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 text-left">Gõ lại mật khẩu</label>
                <div class="col-sm-6">
                    <input class="form-control" type="password" th:field="*{passwordConfirm}"/>
                    <span th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}"/>
                </div>
            </div>
            <br/>
            <h5>Thông tin công ty</h5>
            <div class="form-group">
                <label class="col-sm-3 text-left">Tên công ty</label>
                <div class="col-sm-6">
                    <input class="form-control" type="text" th:field="*{name}"/>
                    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 text-left">Sơ lược công ty</label>
                <div class="col-sm-6">
                    <textarea class="form-control" th:field="*{description}"></textarea>
                    <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 text-left">Logo</label>
                <div class="col-sm-6">
                    <input class="form-control" th:field="*{logo}" type="file"/>
                    <span th:if="${#fields.hasErrors('logo')}" th:errors="*{logo}"/>
                </div>
            </div>
            <br/>
            <h5>Thông tin liên hệ</h5>
            <div class="form-group">
                <label class="col-sm-3 text-left">Địa chỉ</label>
                <div class="col-sm-6">
                    <input class="form-control" type="text" th:field="*{address}"/>
                    <span th:if="${#fields.hasErrors('address')}" th:errors="*{address}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 text-left">Điện thoại</label>
                <div class="col-sm-6">
                    <input class="form-control" type="text" th:field="*{phoneNumber}"/>
                    <span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 text-left">Email</label>
                <div class="col-sm-6">
                    <input class="form-control" type="text" th:field="*{contactEmail}"/>
                    <span th:if="${#fields.hasErrors('contactEmail')}" th:errors="*{contactEmail}"/>
                </div>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary">Đăng ký</button>
            </div>
        </form>
    </th:block>

    <th:block th:fragment="details">
        <h4 th:text="${employer.name}" style="color: #0a6ebd;"/>
        <div class="row">
        <div class="col-md-6"><i>Địa chỉ: <span th:text="${employer.address}"/></i></div>
        <div class="col-md-6 text-right">
            <a class="btn btn-default btn-sm" href="#recruitments">Các tin tuyển dụng</a>
        </div>
        </div>
        <b><p th:utext="${#strings.replace( #strings.escapeXml( employer.description ),T(java.lang.System).getProperty('line.separator'),'&lt;br /&gt;')}"/></b>
        <b>Số điện thoại: <span th:text="${employer.phoneNumber}"/></b>
        <br/>
        <b>Email liên hệ: <span th:text="${employer.contactEmail}"/></b>
    </th:block>
</body>
</html>