<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <th:block th:fragment="header">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Nhà tuyển dụng</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/employer/postRecruitment}">Đăng tin</a></li>
                </ul>
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/employer/recruitmentManagement}">Quản lý tin</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" onclick="document.getElementById('logout-form').submit();"><span class="glyphicon glyphicon-log-out"></span> Đăng xuất</a></li>
                    <form id="logout-form" th:action="@{/logout}" method="POST"></form>
                </ul>
            </div>
        </nav>
    </th:block>

    <th:block th:fragment="sign-up">
    <form action="#" th:action="@{/register/employer}" th:object="${employerAccountForm}" method="post" enctype="multipart/form-data">
        <h2>Nhà tuyển dụng đăng ký</h2>

        <h3>Thông tin đăng nhập</h3>
        <div class="form-group">
            <label>Email</label>
            <input class="form-control" type="text" th:field="*{email}"/>
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"/>
        </div>
        <div class="form-group">
            <label>Mật khẩu</label>
            <input class="form-control" type="password" th:field="*{password}"/>
            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"/>
        </div>
        <div class="form-group">
            <label>Gõ lại mật khẩu</label>
            <input class="form-control" type="password" th:field="*{passwordConfirm}"/>
            <span th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}"/>
        </div>

        <h3>Thông tin công ty</h3>
        <div class="form-group">
            <label>Tên công ty</label>
            <input class="form-control" type="text" th:field="*{name}"/>
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"/>
        </div>
        <div class="form-group">
            <label>Sơ lược công ty</label>
            <textarea class="form-control" th:field="*{description}"></textarea>
            <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"/>
        </div>
        <div class="form-group">
            <label>Logo</label>
            <input class="form-control" th:field="*{logo}" type="file"/>
            <span th:if="${#fields.hasErrors('logo')}" th:errors="*{logo}"/>
        </div>

        <h3>Thông tin liên hệ</h3>
        <div class="form-group">
            <label>Địa chỉ</label>
            <input class="form-control" type="text" th:field="*{address}"/>
            <span th:if="${#fields.hasErrors('address')}" th:errors="*{address}"/>
        </div>
        <div class="form-group">
            <label>Điện thoại</label>
            <input class="form-control" type="text" th:field="*{phoneNumber}"/>
            <span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"/>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input class="form-control" type="text" th:field="*{contactEmail}"/>
            <span th:if="${#fields.hasErrors('contactEmail')}" th:errors="*{contactEmail}"/>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary">Đăng ký</button>
        </div>
    </form>
</th:block>
</body>
</html>