<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>

    <th:block th:fragment="sign-up">
        <form action="#" th:action="@{/dang-ky/nguoi-dung}" th:object="${employeeAccountForm}" method="post">
            <h2>Đăng ký tài khoản người tìm việc</h2>
            <div class="form-group">
                <label>Họ và tên</label>
                <input class="form-control" type="text" th:field="*{name}"/>
            </div>
            <div class="form-group">
                <label>Email</label>
                <input class="form-control" type="text" th:field="*{email}"/>
            </div>
            <div class="form-group">
                <label>Mật khẩu</label>
                <input class="form-control" type="password" th:field="*{password}"/>
            </div>
            <div class="form-group">
                <label>Gõ lại mật khẩu</label>
                <input class="form-control" type="password" th:field="*{passwordConfirm}"/>
            </div>
            <div class="text-center">
                <button class="btn btn-primary" type="submit">Đăng ký</button>
            </div>
        </form>
    </th:block>

    <th:block th:fragment="header">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Tìm việc trực tuyến</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a th:href="@{/}">Trang chủ</a></li>
                </ul>

                    <div sec:authorize="hasRole('ROLE_EMPLOYEE')">
                        <ul class="nav navbar-nav navbar-right">
                        <li><a href="#" onclick="document.getElementById('logout-form').submit();"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                        <form id="logout-form" th:action="@{/dang-xuat}" method="POST"></form>
                        </ul>
                    </div>
                    <div sec:authorize="isAnonymous()">
                        <ul class="nav navbar-nav navbar-right">
                        <li><a href="#" th:href="@{/dang-nhap}"><span class="glyphicon glyphicon-log-in"/> Đăng nhập</a></li>
                        </ul>
                    </div>
            </div>
        </nav>
    </th:block>

    <th:block th:fragment="apply-recruitment">
        <form>
            <h2>Nộp đơn trực tuyến</h2>
            <div class="form-group">
                <label>Bạn ứng tuyển hồ sơ vào <span>...</span></label>
            </div>
            <div class="form-group">
                <label>Chức danh</label>
                <input class="form-control" placeholder="Nhân viên ..."/>
            </div>
            <div class="form-group">
                <label>Tên công ty</label>
                <input class="form-control" placeholder="Công ty ..."/>
            </div>
            <div class="form-group">
                <label>Tên của bạn</label>
                <input class="form-control"/>
            </div>
            <div class="form-group">
                Chọn hồ sơ
                <button type="button" class="btn btn-default">Tải lên từ máy tính</button>
            </div>
            <div class="form-group text-right">
                <div class="col-md-4 col-md-offset-2">
                    <button class="btn btn-default btn-block">Huỷ</button>
                </div>
                <div class="col-md-4">
                    <button type="button" class="btn btn-primary btn-block">Chấp nhận</button>
                </div>
            </div>
        </form>
    </th:block>

</body>
</html>