<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>

    <th:block th:fragment="search">
        <form action="#" th:action="@{/recruitment/search}" th:object="${searchForm}" method="get">
            <div class="input-group">
                <input th:field="*{keyword}" type="text" class="form-control" aria-label="..."/>
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false" style="border-radius: 0; border-left: 0;">
                        <span id="selected-value">Ngành nghề</span> <span class="caret"></span></button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li th:each="i : ${departments}"><a th:id="${i.id}" class="department" href="#"><span th:text="${i.name}"></span></a></li>
                    </ul>
                </div>
                <input id="department-id" type="hidden" th:value="0" th:attr="name='departmentId'"/>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"/> Tìm</button>
                </span>
            </div>
            <script>
                jQuery(document).ready(function () {
                    $(".department").click(function () {
                        var selectedValue = $(this).text();
                        $("#selected-value").text(selectedValue);
                        $("#department-id").val($(this).attr("id"));
                    });
                });
            </script>
        </form>
        <div class="text-right">
            <a th:href="@{/recruitment/advancedSearch}">Tìm kiếm nâng cao</a>
        </div>
    </th:block>

    <th:block th:fragment="advanced-search">
        <h4 class="text-center">Tìm kiếm nâng cao</h4>
        <form class="form-horizontal" th:action="@{/recruitment/advancedSearchProcessing}" th:object="${advancedSearchForm}" method="get">
            <div class="form-group">
                <label class="col-sm-3 text-left">Từ khóa</label>
                <div class="col-sm-6">
                    <input class="form-control" type="text" th:field="*{keyword}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 text-left">Ngành nghề</label>
                <div class="col-sm-6">
                    <select class="form-control" th:field="*{departmentId}">
                        <div th:each="i : ${departments}">
                            <option th:if="${i.id == null}" th:value="null">Tất cả</option>
                            <option th:unless="${i.id == null}" th:value="${i.id}" th:text="${i.name}"/>
                        </div>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 text-left">Yêu cầu giới tính</label>
                <div class="col-sm-6">
                    <label><input type="radio" name="gender" th:field="*{requiredFemale}" th:value="false"/> Nam</label>
                    <label><input type="radio" name="gender" th:field="*{requiredFemale}" th:value="true"/> Nữ</label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 text-left">Độ tuổi</label>
                <div class="col-sm-6">
                    <input class="form-control" type="number" th:field="*{averageAge}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 text-left">Năm kinh nghiệm</label>
                <div class="col-sm-6">
                    <input class="form-control" type="number" th:field="*{yearsOfExperience}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 text-left">Mức lương</label>
                <div class="col-sm-6">
                    <input class="form-control" type="number" th:field="*{salary}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 text-left">Trình độ học vấn</label>
                <div class="col-sm-6">
                    <select class="form-control" th:field="*{educationalLevelId}">
                        <div th:each="i : ${educationalLevels}">
                            <option th:if="${i.id == null}" th:value="null">Tất cả</option>
                            <option th:unless="${i.id == null}" th:value="${i.id}" th:text="${i.name}"/>
                        </div>
                    </select>
                </div>
            </div>
            <div class="form-group text-center">
                <button class="btn btn-primary" type="submit">Tìm</button>
            </div>
        </form>
    </th:block>

    <th:block th:fragment="review">
        <div th:each="recruitment : ${page.content}" class="row" style="padding-bottom: 1em">
            <div class="col-md-2">
                <span style="display: inline-block; height: 100%; vertical-align: middle;"/>
                <img th:src="@{/logo(logoPath=${recruitment.employer.logoPath})}" width="100%" style="vertical-align: middle;"/>
            </div>
            <div class="col-md-10">
                <a th:href="@{/details(employerId=${recruitment.employer.id})}"><b class="text-uppercase" th:text="${recruitment.employer.name}"/></a><br/>
                Thời gian đăng: <i th:text="${#dates.format(recruitment.createdDatetime, 'hh:mm dd-MM-yyyy')}"/><br/>
                <p class="text-capitalize" th:text="${recruitment.title}"/>
                <a th:href="@{/recruitment/details(id=${recruitment.id})}">Chi tiết</a>
            </div>
            <hr style="border: 0; clear: both; display: block; width: 96%; background-color: lightgray; height: 1px;"/>
        </div>
    </th:block>

    <th:block th:fragment="review-apply">
        <div class="well" th:each="applyHistory : ${recruitment.applyHistories}" style="padding-bottom: 1em">
            <span th:text="${applyHistory.employee.name}"/> - Lúc: <span th:text="${#dates.format(applyHistory.datetime, 'hh:mm dd-MM-yyyy')}"/>
            <br/>
            <a th:href="@{/recruitment/cv(applyHistoryId=${applyHistory.id})}">Đơn ứng tuyển</a>
            <div th:if="${applyHistory.approved == null}">
                <span>Đánh giá hồ sơ: </span>
                <a class="btn btn-xs btn-success" th:href="@{/employer/updateApplication(applyHistoryId=${applyHistory.id}, approved=true)}">Đạt</a>
                <a class="btn btn-xs btn-danger" th:href="@{/employer/updateApplication(applyHistoryId=${applyHistory.id}, approved=false)}">Không đạt</a>
            </div>
            <div th:if="${applyHistory.approved != null}">
                <span>Tình trạng đánh giá: </span>
                <span th:text="${applyHistory.approved} ? 'Đạt' : 'Không đạt'"/>
            </div>
        </div>
    </th:block>

    <th:block th:fragment="details">
        <p><a th:href="@{/details(employerId=${recruitment.employer.id})}"><h4 class="text-uppercase" th:text="${recruitment.employer.name}"/></a>
            <label th:text="${recruitment.title}">Công việc</label><br/>
            <i><span th:text="${recruitment.employer.address}">Địa chỉ</span></i></p><br/>
        <b>Mô tả chi tiết công việc</b><br/>
        <p th:utext="${#strings.replace( #strings.escapeXml( recruitment.content ),T(java.lang.System).getProperty('line.separator'),'&lt;br /&gt;')}" ></p>

        <b>Mức lương: </b>
        <span th:text="${#numbers.formatDecimal(recruitment.lowestSalary, 0, 'COMMA', 0, 'POINT')}"/> đến
        <span th:text="${#numbers.formatDecimal(recruitment.highestSalary, 0, 'COMMA', 0, 'POINT')}"/> đồng<br/>
        <br/>

        <b>Kinh nghiệm/kỹ năng chi tiết</b><br/>
        - Số năm kinh nghiệm: <span th:text="${#numbers.formatDecimal(recruitment.yearsOfExperience, 0, 0)}"/> năm <br/>
        - Giới tính: <span th:text="${recruitment.requiredFemale} == null ? 'Nam/Nữ' : (${recruitment.requiredFemale} ? 'Nữ' : 'Nam')"/><br/>
        - Trình độ học vấn: <span th:text="${recruitment.educationalLevel.name}"/><br/>
        - Độ tuổi: <span th:text="${recruitment.averageAge}"/><br/>
        <br/>

        <b>Thông tin liên hệ</b><br/>
        - Số điện thoại: <span th:text="${recruitment.employer.phoneNumber}"/><br/>
        - Email: <span th:text="${recruitment.employer.contactEmail}"/><br/>
        <br/>

        <b>Hạn nộp hồ sơ: </b><i th:text="${#dates.format(recruitment.deadlineForSubmission, 'dd-MM-yyyy')}"/><br/>
        <br/>

        <div sec:authorize="hasRole('ROLE_EMPLOYEE')">
            <div class="row">
                <div class="col-sm-9 text-center">
                    <a class="btn btn-primary" th:href="@{/employee/apply(recruitmentId=${recruitment.id})}">Nộp đơn</a>
                </div>
                <div class="col-sm-3 text-right" th:if="${not isHasReported}">
                    <a class="btn btn-warning" th:href="@{/recruitment/report(recruitmentId=${recruitment.id})}">Báo cáo nội dung xấu</a><br/>
                </div>
            </div>
        </div>
    </th:block>

    <th:block th:fragment="content">
        <div class="text-center">
            <h4>Đăng tin tuyển dụng</h4>
        </div>
        <form action="#" th:action="@{/employer/postRecruitment}" th:object="${recruitmentForm}" method="post">
            <div class="form-group">
                <label>Tiêu đề <span class="text-danger">*</span></label>
                <input class="form-control" th:field="*{title}"/>
                <span class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"/>
            </div>
            <div class="form-group">
                <label>Nội dung <span class="text-danger">*</span></label>
                <textarea class="form-control" th:field="*{content}"></textarea>
                <span class="text-danger" th:if="${#fields.hasErrors('content')}" th:errors="*{content}"/>
            </div>
            <div class="form-group">
                <label>Mức lương <span class="text-danger">*</span></label>
                <div class="form-group row">
                    <div class="col-md-4"><input class="form-control" type="number" th:field="*{lowestSalary}"/></div>
                    <div class="col-md-2"><span> đến </span></div>
                    <div class="col-md-4"><input class="form-control" type="number" th:field="*{highestSalary}"/></div>
                    <div class="col-md-2"><span> đồng</span></div>
                </div>
                <span class="text-danger" th:if="${#fields.hasErrors('lowestSalary')}" th:errors="*{lowestSalary}"/>
            </div>
            <div class="form-group">
                <label>Ngành nghề <span class="text-danger">*</span></label>
                <select class="form-control" th:field="*{departmentId}">
                    <option th:each="i : ${departments}" th:value="${i.id}" th:text="${i.name}">Ngành nghề</option>
                </select>
            </div>
            <div class="form-group">
                <label>Trình độ <span class="text-danger">*</span></label>
                <select class="form-control" th:field="*{educationalLevelId}">
                    <option th:each="i : ${educationalLevels}" th:value="${i.id}" th:text="${i.name}">Trình độ</option>
                </select>
            </div>
            <div class="form-group">
                <label>Giới tính (Để trống nếu không có yêu cầu cụ thể)</label>
                <label class="radio-inline"><input type="radio" th:field="*{requiredFemale}" th:value="false"/>Nam</label>
                <label class="radio-inline"><input type="radio" th:field="*{requiredFemale}" th:value="true"/>Nữ</label>
            </div>
            <div class="form-group">
                <label>Độ tuổi <span class="text-danger">*</span></label>
                <input class="form-control" type="number" th:field="*{averageAge}"/>
                <span class="text-danger" th:if="${#fields.hasErrors('averageAge')}" th:errors="*{averageAge}"/>
            </div>
            <div class="form-group">
                <label>Năm kinh nghiệm <span class="text-danger">*</span></label>
                <input class="form-control" type="number" th:field="*{yearsOfExperience}"/>
                <span class="text-danger" th:if="${#fields.hasErrors('yearsOfExperience')}" th:errors="*{yearsOfExperience}"/>
            </div>
            <div class="form-group">
                <label>Hạn nộp hồ sơ <span class="text-danger">*</span></label>
                <input class="form-control" type="text" th:field="*{deadlineForSubmission}"/>
                <span class="text-danger" th:if="${#fields.hasErrors('deadlineForSubmission')}" th:errors="*{deadlineForSubmission}"/>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Đăng tin</button>
            </div>
        </form>
    </th:block>

    <th:block th:fragment="report">
        <form class="form-horizontal" th:action="@{/recruitment/report}" method="post" th:object="${recruitmentReportForm}">
            <h4 class="text-center">Báo cáo tin tuyển dụng xấu</h4>
            <br/>

            <label><b>Bạn muốn báo cáo xấu đối với tin tuyển dụng:</b></label> <span th:text="${recruitment.title}"/><br/>
            <label><b>Của nhà tuyển dụng:</b></label> <span th:text="${recruitment.employer.name}"/><br/>
            <div class="form-group">
                <label class="col-sm-3 text-left">Lý do báo cáo:</label>
                <div class="col-sm-9">
                    <textarea type="text" style="min-width: 100%" th:field="*{message}"/>
                </div>
            </div>
            <input type="hidden" th:value="${recruitment.id}" th:attr="name='recruitmentId'"/>
            <div class="form-group text-center">
                <button class="btn btn-warning" type="submit">Xác nhận</button>
            </div>
        </form>
    </th:block>

</body>
</html>