<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/common::head" />
    <title>Đăng ký tài khoản người dùng</title>
</head>
<body>
    <div class="container">
        <th:block th:include="fragments/employee::header"></th:block>
        <div class="col-lg-6 col-lg-offset-3">
            <form action="#" th:action="@{/dang-ky/nguoi-dung}" th:object="${employeeAccountForm}" method="post">
                <h2>Đăng ký tài khoản người tìm việc</h2>
                <div class="form-group">
                    <label>Họ và tên</label>
                    <input class="form-control" type="text" th:field="*{name}"/>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input class="form-control" type="text" th:field="*{email}"/>
                </div>
                <div class="form-group">
                    <label>Mật khẩu</label>
                    <input class="form-control" type="password" th:field="*{password}"/>
                </div>
                <div class="form-group">
                    <label>Gõ lại mật khẩu</label>
                    <input class="form-control" type="password" th:field="*{passwordConfirm}"/>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary" type="submit">Đăng ký</button>
                </div>
            </form>
        </div>
        <th:block th:include="fragments/common::footer"></th:block>
    </div>
</body>
</html>